.App{
  display: center;
  
}
body{
  margin: 0%;
  /* background: -webkit-radial-gradient( lightyellow ,yellow ); */
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color:white;

  
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
   list-style: none;
}



.register{
  margin: 3%;
}
h1{
  display: center;
  
}
label{
  margin-left: 10%;
  color:brown;
  
}
input{
margin:2%;
display:center;
width: 30%;
height: 30px;
}

.cls-button
  {
  width:24%;
  height: 30px;
  margin: 2%;
  border: 10px;
  border-color: black;
  color:black;
}



.cls-login{
  display: center;
  justify-content: center;
  align-items: center;
}